<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Content
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row *ngFor="let trio of getElemento(); let i = index">
      <ion-col width-50 *ngFor="let item of trio; let x = index" (click)="openPage(item)" text-center>
        <!--<img src="assets/imgs/menu/{{item.icon}}" class="img_menu" *ngIf="item.icon != ''"/>-->
        <div class="item-panel">
          <div class="item-body">
            <ion-icon name="{{item.icon}}"></ion-icon>
          </div>
          <div class="item-footer">
            <b>{{item.title}}</b>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
