page-content {
  ion-card {
    border: 1px solid gray !important;
    border-radius: 10px !important;
    margin: 0px !important;
    width: 100% !important;
    height: 100%;
  }

  ion-card img {
    background: black;
    padding: 10px;
  }

  ion-card-content {
    background: #FF4D1B;
    font-size: 1rem !important;
    height: 100%;
    padding: 5px !important;
  }

  ion-card-title {
    font-size: 1rem !important;
    color: white !important;
    word-wrap: normal !important;
    text-align: center !important;
    padding: 0px !important;
  }

  .grid-full ion-row {
    // height: auto;
    height: 100%;
    padding: 0;
    flex-wrap: wrap;
  }

  .grid-full ion-col {
    flex: 0 0 33%;
    max-width: 33%;
    text-align: center;
    padding: 10px 5px;
  }
}
