page-content {
  .item-panel {
    max-width: 80px;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    border: 1px solid;
    border-radius: 10px;
    width: auto;
  }

  .item-body {
    margin: 10px;
  }

  .item-footer {
    margin-bottom: 5px;
    background: orange;
  }
}
