<custom-header title="APP_NAME"></custom-header>

<ion-content class="grid-full" padding>
  <ion-row>
    <ion-col *ngFor="let item of pages let i = index">
      <ion-card>
        <img src="assets/img/menu/{{item.icon}}" (click)="openPage(item)"/>
        <ion-card-content>
          <ion-card-title>
            {{item.title}}
          </ion-card-title>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>

<!--
<ion-content padding>
  <ion-grid>
    <ion-row *ngFor="let trio of getElemento(); let i = index">
      <ion-col width-50 *ngFor="let item of trio; let x = index" (click)="openPage(item)" text-center>
        &lt;!&ndash;<img src="assets/imgs/menu/{{item.icon}}" class="img_menu" *ngIf="item.icon != ''"/>&ndash;&gt;
        <div class="item-panel">
          <div class="item-body">
            <img src="../../assets/img/menu/{{item.icon}}" />
          </div>
          <div class="item-footer">
            <b>{{item.title}}</b>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>-->
